.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1a1a1a;
    padding: 10px 20px;
    color: white;
}

.navbar-logo a {
    font-weight: bold;
    font-size: 1.3rem;
    text-decoration: none;
    color: white;
}

.navbar-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar-links a {
    text-decoration: none;
    color: #ccc;
    transition: 0.2s;
}

.navbar-links a:hover,
.navbar-links .active {
    color: #fff;
    border-bottom: 2px solid #fff;
}

.navbar-theme button {
    background: none;
    border: none;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
}