body {
    margin: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background-color: #121212;
    color: #eee;
}

.main-content {
    min-height: 80vh;
    padding: 20px;
}

.estante {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding-bottom: 20px;
    border-bottom: 8px solid #5c3a1d;
    /* color tipo madera */
    box-shadow: inset 0 -5px 0 #2c1b10;
}